{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SHRINIVAS C DUMBALI</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'D:\Django_Project\Portfolio_Django\mywebsite\staticfiles\css\main.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                    <div class="card card-body h-100 border-info" id="profile-wrapper">
                        <img id="profile-pic" src="{% static 'images\personal_pic.jpg' %}">
                        <br>
                        <h1>Shrinivas C Dumbali</h1>
                        
                        <p>Enthusiast Python programmer, a student at Reva University.</p>
                        
                        <ul class="social-links">
                            <li>
                                <a href="https://www.linkedin.com/in/shrinivas-c-dumbali/" target="_blank">
                                    <img class="social" src="{% static 'D:\Django_Project\Portfolio_Django\mywebsite\staticfiles\images\linkedin-logo.png' %}" alt="LinkedIn">
                                </a>
                            </li>
                            <li>
                                <a href="mailto:shrinivasdumbali@gmail.com" target="_blank">
                                    <img class="social" src="{% static 'D:\Django_Project\Portfolio_Django\mywebsite\staticfiles\images\gmail-logo.png' %}" alt="Gmail">
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/Shrinivasdumbali" target="_blank">
                                    <img class="social" src="{% static 'D:\Django_Project\Portfolio_Django\mywebsite\staticfiles\images\github-logo.png' %}" alt="GitHub">
                                </a>
                            </li>
                            <li>
                                <a href=" https://leetcode.com/u/Shrini_D/" target="_blank">
                                    <img class="social" src="{% static 'D:\Django_Project\Portfolio_Django\mywebsite\staticfiles\images\leetcode-logo.png' %}" alt="LeetCode">
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <div class="col-md-9">
                    <div class="card card-body h-100 border-info">
                        <h2>About Me</h2>
                        <p1>I am Shrinivas C Dumbali, a dedicated and enthusiastic professional with a passion for seeking software development job, With a background of Artificial Intelligence and Machine Learning, I bring my skills with a strong problem- solving abilities, creative thinking etc. to every project I undertake. Whether it is projects or developing innovative software solutions I am committed to delivering excellence and driving success. I thrive in collaborative environments and I am always eager to learn and grow. I am currently seeking opportunities where I can leverage my skills and contribute to meaningful projects. </p1>
                        <br>
                        <h3>Education</h3>
                        <p2><strong>2008 - 2019</strong>
                            <br>
                            Class 1 to SSLC at Vidyanikethan English School, Avalahalli old madras road, Bengaluru – 560049 
                            <br>
                            <strong>2019 - 2021</strong><br>
                            PUC Science (PCME) at SSES INDP RESI PU COLLEGE, 7 Banaswadi near ringroad, Bengaluru – 560043 
                            <br>
                            <strong>2021 - 2025</strong><br>
                            B.Tech in CSE (Artificial Intelligence & Machine Learning) at REVA UNIVERSITY, Rukmini knowledge park Kattigenahalli, Yelahanka – 560064
                            
                            </p2>
                    </div>
                </div>
            </div>
            
            <br>

            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body h-100 border-info">
                        <h4 style="font-size: 1.75rem;">Skills</h4>
                        <br>
                        <div class="skills-section">
                            <h5>Languages:</h5>
                            <ul class="skills-list">
                                <ul class="skills-list">
                                    <li><img src="{% static 'images/python-logo.png' %}" alt="Python logo">Python</li>
                                    <li><img src="{% static 'images/java-logo.jpg' %}" alt="Java logo">Java</li>
                                    <li><img src="{% static 'images/c-logo.png' %}" alt="C logo">C</li>
                                </ul>
                                
                            </ul>
                        </div>
                        <div class="skills-section">
                            <h5>Frameworks:</h5>
                            <ul class="skills-list">
                                <li><img src="{% static 'images/flask-logo.png' %}" alt="Flask logo">Flask</li>
                                <li><img src="{% static 'images/django.png' %}" alt="Django logo">Django</li>
                                <li><img src="{% static 'images/pyspark-logo.png' %}" alt="PySpark logo">PySpark</li>
                            </ul>
                            
                        </div>
                        <div class="skills-section">
                            <h5>Tools/Platforms:</h5>
                            <ul class="skills-list">
                                <li><img src="{% static 'images/git-logo.png' %}" alt="Git logo">Git</li>
                                <li><img src="{% static 'images/vscode-logo.png' %}" alt="VS Code logo">VS Code</li>
                                <li><img src="{% static 'images/pycharm-logo.png' %}" alt="Pycharm logo">Pycharm</li>
                                <li><img src="{% static 'images/replit-logo.png' %}" alt="Replit logo">Replit</li>
                                <li><img src="{% static 'images/databricks-logo.png' %}" alt="Databricks logo">Databricks</li>
                            </ul>
                            
                        </div>
                        <div class="skills-section">
                            <h5>Databases:</h5>
                            <ul class="skills-list">
                                <li><img src="{% static 'images/sql-logo.png' %}" alt="SQL logo">SQL</li>
                                <li><img src="{% static 'images/sqlite-logo.jpg' %}" alt="SQLite logo">SQLite</li>
                                <li><img src="{% static 'images/mongodb-logo.png' %}" alt="MongoDB logo">MongoDB</li>
                            </ul>                    
                        </div>
                        <div class="skills-section">
                            <h5>Operating Systems:</h5>
                            <ul class="skills-list">
                                <li><img src="{% static 'images/windows-logo.png' %}" alt="Windows logo">Windows</li>
                                <li><img src="{% static 'images/ubuntu-logo.jpg' %}" alt="Ubuntu logo">Ubuntu</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body h-100 border-info">
                        <h5 style="font-size: 1.75rem;">Projects</h5>
                        <br>
                        <ul class="list-unstyled">
                            <li>
                                <h6>
                                    <a href="https://github.com/Shrinivasdumbali/MCQ_Generation_Neural_Networks" target="_blank">
                                        MCQ Generator through document (.txt)
                                    </a>
                                </h6>
                                <p><strong>Description:</strong> Developed an MCQ Generator using neural networks, natural language processing (NLP), and Keras to automatically generate multiple-choice questions from input text documents (.txt files).</p>
                            </li>
                            <li>
                                <h6>
                                    <a href="https://github.com/Shrinivasdumbali/Fire_Prediction-Flask-ML-.git" target="_blank">
                                        Forest Fire Prediction
                                    </a>
                                </h6>
                                <p><strong>Description:</strong> This web-based fire prediction system uses machine learning to forecast fire outbreaks based on user input. Built with Flask, it offers real-time predictions through a simple web interface.</p>
                            </li>
                            <li>
                                <h6>
                                    <a href="https://github.com/Shrinivasdumbali/PawDawg.git" target="_blank">
                                        PawDawg
                                    </a>
                                </h6>
                                <p><strong>Description:</strong> PawDawg is a Django-based web app promoting street dog welfare. Features include adoption listings, emergency rescue reporting with personal details, and small-scale fundraising. Built with Django and Bootstrap, it ensures seamless user interaction and data handling while aiding animal welfare initiatives.</p>
                            </li>
                            <li>
                                <h6>
                                    <a href="https://github.com/Shrinivasdumbali/Google_PlayStore_Analysis_PySpark.git" target="_blank">
                                        Google Play Store Analysis
                                    </a>
                                </h6>
                                <p><strong>Description:</strong> This project uses PySpark for ETL processes to analyze app data, providing insights on top reviews, most installed apps, and category-wise distributions.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                

            <br>
            <p>


            </p>
            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="card card-body h-100 border-info w-100">
                        <h5 style="font-size: 1.75rem;">Certifications</h5>
                        <br>
                        <p><strong>The Complete Python Bootcamp - <a href="https://drive.google.com/file/d/1IaFeV0SGNJQLzqkcT3c-EMeoEgwqKss5/view">Udemy</a></strong></p>
                        <p><strong>Python Django - <a href="https://drive.google.com/file/d/1tiXVeR5IE89bxIPKy_seYV3P9jDdfLmf/view">Udemy</a></strong></p>
                        <p><strong>Spark And Python For Big Data With PySpark - <a href="https://drive.google.com/file/d/1XRXcNS8n3UWV_WhP9O-XlMM965sMegM1/view">Udemy</a></strong></p>
                        <p><strong>Miscellaneous: Augmented Reality & Virtual Reality, Microsoft AIML - 900, Robotics, Deep Learning</strong></p>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <div class="card card-body h-100 border-info w-100">
                        <h5 style="font-size: 1.75rem;">Participations & Achievements</h5>
                        <br>
                        <p><strong>Hackathon at "REVAHACK 2022"</strong></p>
                        <p><strong>Quiz Competition at "REVAQUIZ"</strong></p>
                        <p><strong>TechMania</strong></p>
                        <p><strong>Esports at "REVARENA"</strong></p>
                        <p><strong>HACKTOBERFEST 2024 at "oss.gg"</strong></p>
                    </div>
                </div>
            </div>
            
                <p>

                </p>
                <div class="col-md-12">
                    <div class="card card-body h-100 border-info">
                        <h4 style="font-size: 1.75rem;">Personal Details & Qualities</h4>
                        <ul>
                            <li><strong>Date of Birth:</strong> April 20, 2003</li> 
                            <li><strong>Languages Known:</strong> English, ಕನ್ನಡ, हिन्दी</li> 
                            <li><strong>Hobbies:</strong> Sketching, Badminton, Photography, Travelling, Watching Movies, Reading tech blogs</li> 
                            <li><strong>Qualities:</strong> 
                                <span class="qualities">
                                    Quick learning capability and Adaptive in nature.<br>
                                    <span style="padding-left: 75px;">Enthusiastic and open to learn new ideas and technologies.</span><br>
                                    <span style="padding-left: 75px;">Good team player with collaborative spirit.</span>
                                </span>
                            </li>
                        </ul>
                        
                    </div>
                </div>
                
            </div>
        </div>
<p>  



</p>
    </body>
</html>